@import "../../stylesheet-variables.scss";

$width-max: 985px;
$height-max: 355px;
$height-width-ratio: $height-max / $width-max;

@mixin navigation(){
    width: 40px;
    height: 80%;
    position: absolute;
    top: 90px;
    cursor: pointer;
    &:hover{
        fa{
            color: rgba(255, 255, 255, 0.5);
        }
        
    }
    fa{
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        font-size: 2.4em;
        transform: translate(0, -50%);
        color: rgba(255, 255, 255, 0.1);
        transition: $transition;
       
       
    }
    
}

.image-slider{
    position: relative;
    //I am going fully responsive on the image:
    //min-width: $width-max;
    //min-height: $height-max;
    img{
        width: 100%;
    }
    width: 100%;

    .go-next{
        right: 0;
        @include navigation();
    }

    .go-prev{
        left: 0;
        @include navigation();
    }

    .image-details{
        position: absolute;
        top: 120px;
        width: 420px;
        min-height: 80px;
        left: $page-margin-left;
        h1, h2{
            text-shadow: $box-shadow;
            color: white;
        }
        .bmw-primary-button{
            margin-top: 15px;
        }
    }

    .image-controls{
        position: absolute;
        right: 0;
        bottom: -5px;
        min-width: 305px;
        height: 40px;
        z-index: 20;
        background-color: white;
        padding-right: 20px;
        .thumb{
            position: relative;
            margin-left: 5px;
            margin-top: 5px;
            height: 35px;
            width: 72px;
            float: left;
            transition: $transition;
            cursor: pointer;
            div{
                position: absolute;
                width: 100%;
                background-color: $color-primary-blue;
                height: 4px;
                bottom: 2px;
                left: 0;
            }
        }
    }
    
}