<div class="menu">
    <div class="menu-top"></div>
    <div class="menu-body">
        <div class="menu-items">
            <div class="menu-items-primary">
                <ul >
                    <li [ngClass]="{'bmw-li-active' : item.active,  'bmw-li' : !item.active,  'drop-down' : item.dropdown  }" *ngFor="let item of menuItemsMain" >
                        <a [routerLink]="item.href" [routerLinkActive]="['active']">{{item.name}}</a>
                        <ul class="dropdown-body" *ngIf="item.dropdown">
                            <li *ngFor="let sub of item.options"><a [routerLink]="sub.href">{{sub.name}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu-items-secondary">
                <ul>
                    <li *ngFor="let item of menuItemsSecondary"><a [routerLink]="item.href">{{item.name}}</a></li>                    
                </ul>
            </div>
        </div>
    </div>
    <img class="logo-bmw" src="../../assets/Logo-bmw.png"/>
    <img class='logo-name' src='../../assets/Logo-name.png'/>
</div>
