@import "../../stylesheet-variables.scss";

@mixin logo{
    position: absolute;
    top: 0;
    box-shadow: $box-shadow;
    transition: $fast-transition;
};

@mixin menu-line($fontSize){
    width: 100%;
    background: transparent;
    height: 25px;
    line-height: 25px;
    font-size: $fontSize !important;


};

@mixin menu-line-item($clr){
    float: left;
    margin-right: 10px;
    background: transparent;
    max-width: $menu-item-max-width;
    cursor: pointer;
    &:hover{
        a{
            color: darken($color-primary-blue, 0);
        }
        
    }
    a{
        background-color: transparent;
        color: $clr;
        text-decoration: none;
        transition: $transition;
        &:hover{
            color: darken($color-primary-blue, 0);
        }
    }
}

@media screen and (max-width: 1020px) {
   .menu{
        .menu-body{
            .menu-items{
                display: none;
            }
            .menu-hamburger{
                visibility: visible !important;
               
            }
        }

        .logo-bmw{
            right: 50px !important;
        }
    
        .logo-name{
            right: 142px !important;;
        }
   }


}

.menu{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: transparent;
    box-shadow: $box-shadow; 
    z-index: 10000;
    
    .menu-top{
        width: 100%;
        height: 15px;
        background-color: white;
    }
    .menu-body{
        position: relative;
        width: 100%;
        height: 60px;
        max-height: 60px;
        background: $color-primary-gray-opacity;
        padding-top: 10px;
        padding-left: 30px;

        .menu-hamburger{
            visibility: hidden;
            position: relative;
            width: 30px;
            &:hover{
                .hamburger{
                    opacity: 1;
                    visibility: visible;
                }
                
            }
            fa{
                display: block;
                margin-top: 5px;
                height: 55px;
                font-size: 2em;
                color: white;
                opacity: 0.7;
                width: 30px;
                text-align: center;
                transition: $fast-transition;
                &:hover{
                    cursor: pointer;
                    opacity: 1;
                }
            }
            .hamburger{
                opacity: 0;
                visibility: hidden;
                position:absolute;
                top:57px;
                left:-30px;
                background: $color-primary-gray-opacity;
                padding:0;
                z-index: 100;
                min-width: 400px;
                min-height: 288px;
                transition: $transition;
                padding: 15px 0;
                box-shadow: $box-shadow;
                .hamburger-main{
                    float: left;
                    width: 170px;
                    min-height: 100px;
                    margin-left: 30px;
                    border-right: 1px solid $color-secondary-lightgray;
                    overflow: auto;
                    padding-right: 10px;
                    .normal-item{
                        list-style: none;
                        li{
                            @include menu-line-item($color-primary-white);
                            max-width: 250px !important;
                            width: 100% !important;
                            margin-bottom: 2px;
                            .hamburger-dropdown{
                                font-size: 13px;
                                padding-top: 2px;
                                padding-left: 5px;
                                list-style: none;
                                li{
                                    width: 100%;
                                    &:hover{
                                        a{
                                            color: $color-primary-blue !important;
                                        }
                                    }
                                    a{
                                        color: darken($color-primary-white,10) !important;
                                        &:hover{
                                            color: $color-primary-blue !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                };
                .hamburger-secondary{
                    float: left;
                    width: 150px;
                    min-height: 100px;
                    padding: 0 10px;
                    ul{
                        font-size: 12px;
                        font-family: $bmw-font-light;
                        list-style: none;
                        background: transparent;
                        li{
                            width: 100%;
                            @include menu-line-item($color-primary-white);
                            margin-bottom: 2px;
                        }
                    }
                }
               
            }
        }

        .menu-items{
            width: 70%;
            height: 50px;
            background-color: transparent;
            transition: $transition;

            .menu-items-primary{
                @include menu-line(15px);
                border-bottom: 1px lightgray solid;
                              
                ul{
                    font-family: $bmw-font-bold;
                    list-style: none;     
                    
                    .drop-down{
                        padding: 0 2px;
                        transition: $transition;
                        &:hover{
                            background-color: white !important;
                            a{
                                color: $color-primary-blue !important;
                            }
                            
                        }

                        .dropdown-body{
                            opacity: 0;
                            visibility: hidden;
                            position:absolute;
                            top:100%;
                            left:0;
                            background:#fff;
                            padding:0;
                            z-index: 100;
                            width: 198px;
                            height: 288px;
                            padding: 15px 0;
                            transition: $transition;
                            
                            li{
                                float:none;
                                width:100%;
                                height: 14px;
                                margin-bottom: 2px;
                                font-family: $bmw-font-bold;
                                a{
                                    display: block;
                                    position: relative;
                                    color: $color-secondary-darkgray !important;  
                                    font-size: 11px;
                                    width: 160px;
                                    padding: 0 10px;
                                    height: 14px;
                                    line-height: 14px;
                                    margin: 0;
                                    &:hover{
                                        color: $color-primary-blue !important;
                                    }

                                }
                                                              
                            }
                        }
                    }

                    .bmw-li-active{
                        position: relative;
                        @include menu-line-item($color-primary-blue);
 
                         &:nth-child(1){
                             font-family: $bmw-font-light;
                         }
                         &:nth-child(10){
                             font-family: $bmw-font-light;
                         }
                         &:nth-child(11){
                             font-family: $bmw-font-light;
                         }
                         &:nth-child(12){
                             font-family: $bmw-font-light;
                         }  
 
                         &:hover{
                             .dropdown-body{
                                 visibility: visible;
                                 opacity: 1;
                             }
                         }
                    }

                    .bmw-li{
                        position: relative;
                       @include menu-line-item($color-primary-white);

                        &:nth-child(1){
                            font-family: $bmw-font-light;
                        }
                        &:nth-child(10){
                            font-family: $bmw-font-light;
                        }
                        &:nth-child(11){
                            font-family: $bmw-font-light;
                        }
                        &:nth-child(12){
                            font-family: $bmw-font-light;
                        }  

                        &:hover{
                            .dropdown-body{
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }

                    
                }
            }
            .menu-items-secondary{
                @include menu-line(12px);
                ul{
                    font-family: $bmw-font-light;
                    list-style: none;
                    background: transparent;
                    li{
                        @include menu-line-item($color-primary-white);
                    }
                }
            }

        }
    }

    .logo-bmw{
        @include logo();
        right: 150px;
    }

    .logo-name{
        @include logo();
        right: 242px;
    }
    
}

