<div class="info-strip">
  <div class="main-info">
    <div class="header">BMW Driver Training Course Overview</div>
    <div class="image">
      <img src="../../assets/modellfinder.jpg" />
    </div>
    <div class="content">
      <div><fa name="caret-right"></fa>BMW Driver Training</div>
      <div>Experience more control, attain more safety, protect yourself. Click her for the latest Course information and pricing.</div>
    </div>
  </div>

  <div class="secondary-info">
      <div class="header">
        Financial Services
        <div class="mini-selector">
          <div (click)="prevFinancialServices()"><fa name="caret-left"></fa></div>
          <div>{{financialService.index + 1}} / {{amountFinancialServices}}</div>
          <div (click)="nextFinancialServices()"><fa name="caret-right"></fa></div>
        </div>
      </div>
      <div [@quickFadeAnimation]='financialService'>
        <div class="image">
          <img src="../../assets/BMWSF.png" />
        </div>
        <div class="content">
          <div><fa name="caret-right"></fa>{{financialService.name}}</div>
          <div><a>{{financialService.content.text}}</a></div>
        </div>
      </div>
  </div>

  <div class="secondary-info">
      <div class="header">
          Social Networking
          <div class="mini-selector">
            <div (click)="prevSocialMedia()"><fa name="caret-left"></fa></div>
            <div>{{socialMedia.index + 1}} / {{amountSocialMedia}}</div>
            <div (click)="nextSocialMedia()"><fa name="caret-right"></fa></div>
          </div>
      </div>
      <div [@quickFadeAnimation]='socialMedia'>
        <div class="image">
          <img [src]="socialMedia.url" />
        </div>
        <div class="content">
          <div><fa name="caret-right"></fa>{{socialMedia.name}}</div>
          <div>{{socialMedia.content.text}}</div>
        </div>
      </div>
      
  </div>

  <div class="tertiary-info">
      <div class="header">
          Directions
          <div class="mini-selector">
            <div (click)="prevDirections()"><fa name="caret-left"></fa></div>
            <div>{{directions.index + 1}} / {{amountDirections}}</div>
            <div (click)="nextDirections()"><fa name="caret-right"></fa></div>
          </div>
      </div>
      <div [@quickFadeAnimation]='directions'>
        <div class="image">
          <img src="../../assets/Directions.jpg" />
        </div>
        <div class="content">
          <div><fa name="caret-right"></fa>{{directions.name}}</div>
          <div>{{directions.content.text}}</div>
        </div>
      </div>
  </div>

  <div class="mini-menu">
    <div class="header">
      <div [ngClass]="{ 'active-tab' : tab.active, 'tab': !tab.active }" *ngFor="let tab of miniMenu" (click)="changeTab(tab)" >{{tab.name}}</div>
    </div>
    <div class="options">
        <div [@quickFadeAnimation]='miniOptions'>
          <ul>
            <li *ngFor="let option of miniOptions"><fa name="caret-right"></fa><a>{{option.name}}</a></li>
          </ul>
      </div>
    </div>
  </div>

</div>
