<div class="info-strip">
  <div class="main-info">
    <div class="header">BMW Driver Training Course Overview</div>
    <div class="image">
      <img src="../../assets/modellfinder.jpg" />
    </div>
    <div class="content">
      <div><fa name="caret-right"></fa>BMW Driver Training</div>
      <div>Experience more control, attain more safety, protect yourself. Click her for the latest Course information and pricing.</div>
    </div>
  </div>

  <div class="secondary-info">
      <div class="header">Financial Services</div>
      <div class="image">
        <img src="../../assets/BMWSF.png" />
      </div>
      <div class="content">
        <div><fa name="caret-right"></fa>BMW Financial Services</div>
        <div>Click here to view the latest exclusive offers from BMW Financial services.</div>
      </div>
  </div>

  <div class="secondary-info">
      <div class="header">Social Networking</div>
      <div class="image">
        <img src="../../assets/Facebook.jpg" />
      </div>
      <div class="content">
        <div><fa name="caret-right"></fa>Facebook fan Page</div>
        <div>Join us on Facebook for the latest BMW Driver Training information, galleries and more.</div>
      </div>
  </div>

  <div class="tertiary-info">
      <div class="header">Directions</div>
      <div class="image">
        <img src="../../assets/Directions.jpg" />
      </div>
      <div class="content">
        <div><fa name="caret-right"></fa>Driver Training Venue.</div>
        <div>Find directions to BMW Driver Training, situated at the Kyalami Grand Prix Circuit. </div>
      </div>
  </div>

  <div class="mini-menu">
    <div class="header">
      <div class="tab">Courses</div>
      <div class="tab">Links</div>
    </div>
    <div class="options">
      <ul>
        <li><fa name="caret-right"></fa><a>Collision Avoidance</a></li>
        <li><fa name="caret-right"></fa><a>High Performance Driving</a></li>
        <li><fa name="caret-right"></fa><a>Defensing Driving</a></li>
        <li><fa name="caret-right"></fa><a>Hijack Privention</a></li>
        <li><fa name="caret-right"></fa><a>Packages</a></li>
        <li><fa name="caret-right"></fa><a>Course Payment</a></li>
      </ul>
    </div>
  </div>

</div>
