$color-primary-white: #ffffff;
$color-primary-blue: #003399;
$color-primary-gray: #999999;
$color-primary-gray-opacity: rgba(153, 153, 153, 0.9);
$color-primary-black: #272727;

$color-secondary-gray: #666666;
$color-secondary-darkgray: #4c4c4c;
$color-secondary-lightgray: #CCCCCC;
$color-secondary-blue: #00175C;

$font-size-min: 11px;

$bmw-font-bold: 'BMW-Bold';
$bmw-font-light: 'BMW-Light';

$menu-item-max-width: 142px;

$transition: all 0.5s;


